{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'cal/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css"/>
  <link rel="stylesheet" type="text/css" href="/media/admin/css/base.css"/>
  <link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/>
  <link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
  <title>Calendar</title>
</head>
<body class="text-center mt-5">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<main class="inner cove border" role="main" style="background-color: white;">

			<nav class="navbar navbar-light bg-light">
			  {% if user.is_authenticated %}
			  <a class="navbar-brand">Ciao, {{ user.get_username }} </a>
			  <p class="navbar-brand text-muted"> <script> document.write(new Date().toLocaleString('en-us', { timeZone: 'UTC' })); </script> </p>
			  <form class="form-inline">
			  	<ul class="nav-item dropdown">
				      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menù</a>
				      <div class="dropdown-menu">
					<a class="dropdown-item" href="{% url 'cal:home' %}">Home</a>
					<a class="dropdown-item" href="{% url 'cal:list_calendar' pk %}">Aule</a>
					<a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
				      </div>
			 	</ul>
			  </form>
			  {% else %}
			  <a href="{% url 'login'%}?next={{request.path}}">Login</a>
			  {% endif %} 
			</nav>
				
			<h1 class="cover-heading mt-3">Lista prenotazioni di</h1>
			<h2 class="text-primary"> {{ name }}</h2>
			
			<div class="mt-5">
				<ul class="list-group">
					{% for event in object_list %}
			   	 	<a href="{{ event.id }}/"><li class="list-group-item list-group-item-action">ID: {{ event.id }} - Titolo: {{ event.title }} - Data: {{ event.day }} - Start time: {{ event.start_time }}, End time: {{ event.end_time }} </li></a>
					{% empty %}
			    		<li class="list-group-item">Non ci sono eventi programmati per questo calendario</li>
					{% endfor %}
				</ul>
			</div>

		<a href="calendar" class="btn btn-primary btn-lg active mt-5 mb-5" role="button" aria-pressed="true">Vai al calendario</a>
		<a class="btn btn-primary btn-lg active mt-5 mb-5" href="new">Prenota</a>

		</main>
	</div>

	<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>
</html>
